body .tituloHeader {
    text-align: center;
}

body .row-left-header {
    outline: auto;
    display: inline-block;
}

body .consoleCssExterior {
    /* display: inline-block; */
    margin: 0 0 0 400px;
    border-bottom: 300px solid lightgrey;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    height: 0;
    width: 300px;
    outline: auto;
    position: relative;
}

body .consoleCssInterior1 {
    border-bottom: 175px solid rgb(187, 176, 176);
    border-left: 17.5px solid transparent;
    border-right: 17.5px solid transparent;
    height: 30px;
    width: 88, 5%;
    /* outline: auto; */
    position: relative;
}

body .botonPower {
    border-bottom: 100px solid rgb(187, 176, 176);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    outline: auto;
    width: auto;
    height: auto;
    background-color: blue;
    margin: 0;
    position: relative;
}

.botonEjectDisk {
    outline: auto;
}

.botonReset {
    outline: auto;
}

/* body .pruebaTrapez {
    outline: auto;
    height: 0;
    margin-bottom: 20px;
    width: 50%;
    border-bottom: 25px solid black;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
} */

.consoleCss p {
    margin-top: 22%;
    outline: auto;
    text-align: center;
    position: relative;
}